# Number
Basic number representations, Arithmetic operations, assigning number values

a) Basically two kinds floating point and Integers

In [1]:
2

2

In [2]:
#floating point
3.9

3.9

In [5]:
4e2  #4*10^2

400.0

Arthimetic operations

In [6]:
#Addition
4+2

6

In [7]:
#Subtraction
2-8

-6

In [8]:
#multiplication
5*7

35

In [9]:
#division
3/2

1.5

In [10]:
#mod
4%2

0

In [11]:
#power
3**2

9

In [12]:
#order of operations
(3+2)*(4+5)

45

In [13]:
3 + 2 * 4 + 5

16

Variable assignment
a) variable names cant have any special characters, except for _
b) no spaces and should not start with number
c) lowercase preferred

In [14]:
a = 8
a

8

In [15]:
a * a

64

# Strings

Strings are sequences in python. That means each and every element is accesiible through index.

In [16]:
# Creating a string
'Hello Everyone'

'Hello Everyone'

In [17]:
"Hello Everyone"  #double quotes

'Hello Everyone'

In [18]:
"Hi I am typing 'code'" #using quotes in quotes

"Hi I am typing 'code'"

In [20]:
#printing 

print('Hello Everyone')
print('first line \n second line') #insering a new line

Hello Everyone
first line
 second line

In [21]:
#operations
s = 'Hello world'
print(s)

Hello world

In [22]:
len(s) #length of string

11

In [23]:
#indexing
s[4] #char by index

'dlrow olleH'

In [24]:
s[1:] #everything but first letter

'ello world'

In [25]:
s[:3] # s[everything after:everything before]

'Hel'

In [26]:
s[:] #everything

'Hello world'

In [28]:
s[::2] #everything but in steps of 2

'Hlowrd'

In [29]:
s[-1] #last letter

'd'

In [30]:
s[:-1] #everything but last

'Hello worl'

In [31]:
s[::-1] #can be used to reverse a string

'dlrow olleH'

In [32]:
#properties

s[0] = 'x' #assignment fails

TypeError: 'str' object does not support item assignment

In [36]:
s = 'Hello world'
s = s+' adding me' #concatenation
print(s)

Hello world adding me

In [37]:
l = 'e'
l*10  #printing it n times

'eeeeeeeeee'

In [38]:
#some built in methods
s.upper()

'HELLO WORLD ADDING ME'

In [39]:
s.lower()

'hello world adding me'

In [40]:
s.split(' ')

['Hello', 'world', 'adding', 'me']

In [43]:
s.capitalize() #capitalize first letter in string

'Hello world adding me'

In [44]:
s.count('o')

2

In [45]:
s.find('o')  #first encounter

4

In [47]:
#formatting
s.center(40,'z')  #centres your string to given len by adding given letter

'zzzzzzzzzHello world adding mezzzzzzzzzz'

In [48]:
#is methods
s.isalnum() # is alpha numeric

False

In [49]:
s.isalpha() #return strue for all characters alphabetic

False

In [50]:
s.islower() #lower case

False

In [51]:
s.isspace() #if all characters are whitespace

False

In [52]:
s.istitle() #is title cased string

False

In [53]:
s.isupper() #uppercase

False

In [56]:
s.endswith('e') #checks s[-1]

True

In [57]:
#regex
s.split('e') #excludes e

['H', 'llo world adding m', '']

In [58]:
s.partition('e') #includes e

('H', 'e', 'llo world adding me')

# Lists

lists are also sequences in python but are mutable unlike strings.

In [60]:
l = [0,1,2] #can be homogeneous

In [62]:
l = ['a',1,3.2,'str'] #can be heterogeneous

In [63]:
len(l) #length of the list

4

In [64]:
l[2]   #indexing

3.2

In [65]:
l[1:] #everything but first

[1, 3.2, 'str']

In [66]:
l[:3] #everything before 3rd element

['a', 1, 3.2]

In [67]:
l + ['new'] #adding new element through concatenation, will not alter list until unless you assign it

['a', 1, 3.2, 'str', 'new']

In [68]:
l * 2 #printing it n times

['a', 1, 3.2, 'str', 'a', 1, 3.2, 'str']

In [71]:
# basic operations
l= ['a', 1, 3.2, 'str']
l.append('another') #will alter list
l

['a', 1, 3.2, 'str', 'another']

In [72]:
l.pop() #pops out last element

'another'

In [73]:
l.pop(0) #can specify index too

'a'

In [76]:
l =[2,3,4,5,6,7]
l

[2, 3, 4, 5, 6, 7]

In [77]:
l.reverse() #reverse a list
l

[7, 6, 5, 4, 3, 2]

In [80]:
l=[3,29,4,1,6]
l.sort()
l

[1, 3, 4, 6, 29]

In [82]:
#nesting lists

l1 = [2,3,4]
l2 = [5,6,7]
l3 = [8,9,10]
l = [l1,l2,l3]
l

[[2, 3, 4], [5, 6, 7], [8, 9, 10]]

In [83]:
l[0]

[2, 3, 4]

In [84]:
l[2][1]

9

# Dictionaries

Dictionaries are mapping implementaions in python, like hash tables. Indexing is done through keys rather than numbers in sequences.

In [1]:
#declaring a dict
d = {'k1':'v1','k2':'v2'}

In [2]:
#getting the value from key
d['k1']

'v1'

In [3]:
#dictionary can hold different values
d = {'k1':1,'k2':'value','k3':[1,2,3]}

In [4]:
#dictionary values can be altered
d['k1']= d['k1']+56

In [5]:
d['k1']

57

In [6]:
#creating dict by assignment
d1 = {}
d1['name'] = 'John'
d1['age']= 72

In [7]:
d1

{'age': 72, 'name': 'John'}

In [8]:
#nesting a dict
d = {'key':{'key2':{'key3':'finally'}}}

In [9]:
d['key']['key2']['key3']

'finally'

In [10]:
# dict methods
d1.keys()  #gives the array of keys

dict_keys(['name', 'age'])

In [11]:
d1.values() #array of values

dict_values(['John', 72])

Dict comphrehensions are used for quick creation of dictionaries

In [12]:
{x:x**4 for x in range(10)}

{0: 0, 1: 1, 2: 16, 3: 81, 4: 256, 5: 625, 6: 1296, 7: 2401, 8: 4096, 9: 6561}

# Tuples
They are similar to lists but are immutable.

In [15]:
#creating a tuple
t = (1,2,3)

In [16]:
len(t)  #length of a tuple

3

In [17]:
#can be heterogeneous
t = ('one',2,'three',7.8)

In [18]:
#indexing
t[0]

'one'

In [19]:
#slicing is similar to list
t[1:3]

(2, 'three')

In [20]:
t[-1]

7.8

In [21]:
#tuple methods
t.index(7.8)

3

In [22]:
t.count(2) #to count number of times the value appears

1

In [23]:
#immutable
t[2] = 'whatever'

TypeError: 'tuple' object does not support item assignment

# Files
One can modify read or write files using python.

In [24]:
%%writefile test.txt
Hello this is to test

Writing test.txt

In [25]:
f = open('test.txt') #opening file

In [26]:
f.read() #to read the content

'Hello this is to test '

In [27]:
f.read() # if we try to read the file again cursor points to next line and would return empty

''

In [28]:
f.seek(0) # restting cursor to start of file

0

In [29]:
f.readlines() #read the lines of files into array

['Hello this is to test ']

In [30]:
#writing to a file, 'w' which stands for write
f = open('test.txt', 'w+')

In [31]:
f.write('This is another line')

20

In [32]:
f.read()

''

In [33]:
f.close()

In [35]:
%%writefile test.txt
First Line
Second Line

Overwriting test.txt

In [36]:
#iterating through file
for line in open('test.txt'):
    print(line)

First Line

Second Line

# Sets and booleans
sets are unordered collection of unique elements.

In [38]:
x = set() #constructing a set can be done by calling set function

In [40]:
x.add(1) #adding the elements to set

In [41]:
x

{1}

In [42]:
x.add(2)

In [43]:
x

{1, 2}

In [44]:
#converting a list to set
l = [1,1,2,3,3,4,5,5,8,8,9]
set(l)

{1, 2, 3, 4, 5, 8, 9}

Python has predefined boolean types True and False. None is also boolean type which can be used as a placeholder.

In [45]:
a = True

In [46]:
a

True

In [47]:
1 > 2 #for comparators

False

In [49]:
b = None #for place holder

# Comparision operators
== - equality, != - unequality, <> - unequality, > - greater than, < - lesser than, >= - greater than or equal to, <= - less than or equal to

In [50]:
2 == 2

True

In [51]:
1 != 2

True

In [52]:
1 > 2

False

In [53]:
2< 1

False

In [55]:
1>= 2

False

In [56]:
2<= 3

True

 We can chain comparisions with 'and' or 'or' operators

In [57]:
1 < 2 and 2< 3

True

In [58]:
1< 3 > 2

True

In [59]:
1==100 or 1<2

True